<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table class="table">
    <thead>
        <tr>
            <th>Kiralama ID</th>
            <th>Araç Adı</th>
            <th>Müşteri</th>
            <th>Alış tarihi </th>
            <th>Dönüş tarihi </th>
    </thead>
    <tr *ngFor="let rentaldto of rentaldtos">
        <td>{{rentaldto.rentalID}}</td>
        <td>{{rentaldto.carName}}</td>
        <td>{{rentaldto.customerName}}</td>
        <td>{{rentaldto.rentDate}}</td>
        <td>{{rentaldto.returnDate}}</td>
    </tr>
</table>
