<table class="table">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>Car ID</th>
      <th>Model Year</th>
      <th>Daily Price</th>
    </tr>
  </thead>
  <tbody>
    <tr (click)="setCurrentCar(car)" routerLink="/cars/cardto/{{car.id}}" *ngFor="let car of cars">
      <td>
        <div ngFor="let image of carImages" class="list-group-item img-gallery ">
          <div><img [src]="" class="img-fluid" [alt]="" /></div>
        </div>
      </td>
      <td>{{ car.id }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.dailyPrice|currency }}</td>
    </tr>
  </tbody>
</table>