<table class="table">
  <thead>
    <tr>
      <th>FOTOĞRAF</th>
      <th>MARKA</th>
      <th>RENK</th>
      <th>Fiyat</th>
    </tr>
  </thead>
  <tbody>
    <tr (click)="getCardtos(car.carID)" routerLink="/cars/cardto/{{ car.carID }}" *ngFor="let car of carDtos">
      <td>
        <!-- car.imagePath[0].imagePath!=null -->
        <img *ngIf="car.imagePath!=null" src="https://localhost:44308/Images/{{ car.imagePath }}"
          class="img-thumbnail" />
        <img *ngIf="car.imagePath==null" src="https://localhost:44308/Images/default.jpeg" class="img-thumbnail" />
      </td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.dailyPrice}}</td>
      <td>{{car.dailyPrice|currency}}</td>
    </tr>
  </tbody>
</table>